{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{if .Data.Title}}{{.Data.Title}}{{else}}About Us Page{{end}}</h1>
                <p>This came from the template: {{index .StringMap "test"}}</p>

                <p>{{if ne (index .StringMap "remote_addr") ""}}
                    <p>Your remote IP address is: {{index .StringMap "remote_addr"}}</p>
                {{else}}
                    I don't know your IP address yet. Visit the <a href="/">Home page</a> to get your IP address.
                {{end}}</p>

            </div>
        </div>
    </div>
{{end}}